@import "fonts"

html, body
  font-family: "Inter", serif
  margin: 0

.page__main
  margin: 90px 0 60px

.stock__back
  width: 41px
  height: 46px
  cursor: pointer

.stock__back-button
  background: none
  padding: 0
  margin: 20px auto -30px 0
  border: none

.stock
  display: flex
  flex-direction: column
  gap: 50px
  align-items: center
  position: relative
  max-width: 1230px
  margin: 0 auto