.main__block
  display: flex
  flex-direction: column
  gap: 25px
  max-width: 1240px
  width: 100%
  margin: 25px auto 60px
  align-items: center

.main__cards
  display: flex
  flex-direction: row
  flex-wrap: wrap
  gap: 30px
  margin: 35px 0
  width: fit-content
  align-items: center
  justify-content: center